## 1 - Persistir o `GFDD_LINHAS_GDP` sem as células `INDICATOR_NAME` e `INDICATOR_CODE`.

In [68]:
import pandas as pd

caminho = './'
arquivo = 'dataset_bancomundial.csv'
novo_arquivo = 'dataset_bancomundial_modificado.csv'
gfdd = pd.read_csv(caminho + arquivo, sep = ';', decimal = ',') 

gfdd.drop(columns = ['Indicator Name', 'Indicator Code'], inplace = True)

gfdd.to_csv(caminho + novo_arquivo, sep=';', decimal=',', index=False)

display(gfdd.head(1))

,index,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,0,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,100.0,94.392921,89.846954,90.01989,87.100861,85.567154,89.463562

## 2 - Selecionar os países da América do Sul e persistir o resultado.

In [70]:
import pandas as pd

caminho =  './'
novo_arquivo = 'dataset_bancomundial_modificado.csv'
complemento_arquivo = 'dataset_bancomundial_paises.csv'

cod = ['ARG', 'BRA', 'BOL',  'CHL', 'COL', 'ECU', 'GUY', 'PER', 'PRY', 'SUR', 'URY', 'VEN']

def get_csv(arquivo: str):
    return pd.read_csv(caminho + arquivo, sep = ';', decimal = ',')

def selecionar_colunas(dataframe, lista_colunas: list[str]):
    return dataframe[lista_colunas]

def filtrar_ocorrencias_de_um_termo_em_coluna(dataframe, nome_coluna: str, termo_pesquisado: str):
    return dataframe[dataframe[nome_coluna].str.contains(termo_pesquisado)]

def filtrar_ocorrencias_de_varios_termos_em_coluna(dataframe, nome_coluna: str, termos_pesquisados: list[str]):
    return dataframe.loc[pd.Series(dataframe[nome_coluna].isin(termos_pesquisados))]

dataset_exercicio1 = get_csv(novo_arquivo)
dataset_complemento = get_csv(complemento_arquivo)

# SELECIONANDO APENAS TRES COLUNAS
selecao_paises_america_latina = selecionar_colunas(dataset_complemento, ['Short Name','Country Code', 'Region'])

# COMPLETANDO LINHAS COM 0 ONDE HÁ VALORES NULOS
selecao_paises_america_latina.fillna('0', inplace = True)

# SEPARANDO OCORRENCIAS QUE CONTENHAM LATIN NA COLUNA REGION
paises_latinos = filtrar_ocorrencias_de_um_termo_em_coluna(selecao_paises_america_latina, 'Region', 'Latin')

# FILTRAR PAISES DA AMERICA DO SUL
paises_america_sul = filtrar_ocorrencias_de_varios_termos_em_coluna(paises_latinos, 'Country Code', cod) 

display(paises_america_sul)

# display(dataset_exercicio1)
dataset_filtrado = filtrar_ocorrencias_de_varios_termos_em_coluna(dataset_exercicio1, 'Country Code', paises_america_sul['Country Code'] )
display(dataset_filtrado)

C:\Users\aliss\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

    Short Name Country Code                     Region
6    Argentina          ARG  Latin America & Caribbean
21     Bolivia          BOL  Latin America & Caribbean
24      Brazil          BRA  Latin America & Caribbean
36       Chile          CHL  Latin America & Caribbean
38    Colombia          COL  Latin America & Caribbean
55     Ecuador          ECU  Latin America & Caribbean
78      Guyana          GUY  Latin America & Caribbean
152   Paraguay          PRY  Latin America & Caribbean
153       Peru          PER  Latin America & Caribbean
183   Suriname          SUR  Latin America & Caribbean
207    Uruguay          URY  Latin America & Caribbean
210  Venezuela          VEN  Latin America & Caribbean

,index,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
690,690,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.380600,66.853043,64.576340,64.976936,65.256920,66.312851,67.886391,69.047043,69.894203,78.068237
691,691,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.130219,NaN,NaN
692,692,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.341284,NaN,NaN
693,693,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.346390,NaN,NaN
694,694,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.647434,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24260,24260,"Venezuela, RB",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.111159,0.092775,0.182039,2.007148,0.366286,NaN,0.380902,0.785178,0.188126,NaN
24261,24261,"Venezuela, RB",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24262,24262,"Venezuela, RB",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,114.700000,NaN,NaN,NaN,265.900000,NaN,NaN,NaN
24263,24263,"Venezuela, RB",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24264,24264,"Venezuela, RB",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.100000,NaN,NaN,NaN,13.700000,NaN,NaN,NaN

## 3 - Mostrar as estatísticas sobre o `GDP` para estes países: média, min, max, mediana, desvio padrão e variância.

In [ ]:
import pandas as pd