## 1 - Persistir o `GFDD_LINHAS_GDP` sem as células `INDICATOR_NAME` e `INDICATOR_CODE`.

In [168]:
import pandas as pd

caminho = './'
arquivo = 'dataset_bancomundial.csv'
gfdd = pd.read_csv(caminho + arquivo, sep = ';', decimal = ',') 

display(gfdd.head(0))

gfdd.drop(columns = ['Indicator Name', 'Indicator Code'], inplace = True)

print("Colunas deletadas: Indicator Name e Indicator Code")
display(gfdd.head(0))

novo_arquivo = 'dataset_bancomundial_modificado.csv'
gfdd.to_csv(caminho + novo_arquivo, sep=';', decimal=',', index=False)

Empty DataFrame
Columns: [index, Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]
Index: []

[0 rows x 59 columns]

Colunas deletadas: Indicator Name e Indicator Code

Empty DataFrame
Columns: [index, Country Name, Country Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]
Index: []

[0 rows x 57 columns]

## 2 - Selecionar os países da América do Sul e persistir o resultado.

In [169]:
import pandas as pd

caminho =  './'
arquivo_banco_mundial = 'dataset_bancomundial.csv'
complemento_arquivo = 'dataset_bancomundial_paises.csv'

cod = ['ARG', 'BRA', 'BOL',  'CHL', 'COL', 'ECU', 'GUY', 'PER', 'PRY', 'SUR', 'URY', 'VEN']

def get_csv(arquivo: str):
    return pd.read_csv(caminho + arquivo, sep = ';', decimal = ',')

def selecionar_colunas(dataframe, lista_colunas: list[str]):
    return dataframe[lista_colunas]

def filtrar_ocorrencias_de_um_termo_em_coluna(dataframe, nome_coluna: str, termo_pesquisado: str):
    return dataframe[dataframe[nome_coluna].str.contains(termo_pesquisado)]

def filtrar_ocorrencias_de_varios_termos_em_coluna(dataframe, nome_coluna: str, termos_pesquisados: list[str]):
    return dataframe.loc[pd.Series(dataframe[nome_coluna].isin(termos_pesquisados))]

dataset = get_csv(arquivo_banco_mundial)
dataset_complemento = get_csv(complemento_arquivo)

# SELECIONANDO APENAS TRES COLUNAS
selecao_paises_america_latina = selecionar_colunas(dataset_complemento, ['Short Name','Country Code', 'Region'])

# COMPLETANDO LINHAS COM 0 ONDE HÁ VALORES NULOS
selecao_paises_america_latina.dropna(inplace = True)

# SEPARANDO OCORRENCIAS QUE CONTENHAM LATIN NA COLUNA REGION
paises_latinos = filtrar_ocorrencias_de_um_termo_em_coluna(selecao_paises_america_latina, 'Region', 'Latin')

# FILTRAR PAISES DA AMERICA DO SUL
paises_america_sul = filtrar_ocorrencias_de_varios_termos_em_coluna(paises_latinos, 'Country Code', cod) 

display(paises_america_sul)

# display(dataset)
dataset_filtrado = filtrar_ocorrencias_de_varios_termos_em_coluna(dataset, 'Country Code', paises_america_sul['Country Code'] )

dataset_filtrado.drop(columns=['index', 'Country Name'], inplace = True)
display(dataset_filtrado)

novo_arquivo_paises = 'paises_america_latina.csv'
dataset_filtrado.to_csv(caminho + novo_arquivo_paises, sep=';', decimal=',', index=False)

C:\Users\aliss\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

    Short Name Country Code                     Region
6    Argentina          ARG  Latin America & Caribbean
21     Bolivia          BOL  Latin America & Caribbean
24      Brazil          BRA  Latin America & Caribbean
36       Chile          CHL  Latin America & Caribbean
38    Colombia          COL  Latin America & Caribbean
55     Ecuador          ECU  Latin America & Caribbean
78      Guyana          GUY  Latin America & Caribbean
152   Paraguay          PRY  Latin America & Caribbean
153       Peru          PER  Latin America & Caribbean
183   Suriname          SUR  Latin America & Caribbean
207    Uruguay          URY  Latin America & Caribbean
210  Venezuela          VEN  Latin America & Caribbean

C:\Users\aliss\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
690,ARG,5-bank asset concentration,GFDD.OI.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.380600,66.853043,64.576340,64.976936,65.256920,66.312851,67.886391,69.047043,69.894203,78.068237
691,ARG,Account at a formal financial institution (% a...,GFDD.AI.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.130219,NaN,NaN
692,ARG,Account used for business purposes (% age 15+),GFDD.AI.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.341284,NaN,NaN
693,ARG,Account used to receive government payments (%...,GFDD.AI.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.346390,NaN,NaN
694,ARG,Account used to receive remittances (% age 15+),GFDD.AI.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.647434,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24260,VEN,Syndicated loan issuance volume to GDP (%),GFDD.DM.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.111159,0.092775,0.182039,2.007148,0.366286,NaN,0.380902,0.785178,0.188126,NaN
24261,VEN,Total factoring volume to GDP (%),GFDD.OI.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24262,VEN,Value of collateral needed for a loan (% of th...,GFDD.AI.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,114.700000,NaN,NaN,NaN,265.900000,NaN,NaN,NaN
24263,VEN,Value traded excluding top 10 traded companies...,GFDD.AM.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24264,VEN,Working capital financed by banks (%),GFDD.AI.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.100000,NaN,NaN,NaN,13.700000,NaN,NaN,NaN

## 3 - Mostrar as estatísticas sobre o `GDP` para estes países: média, min, max, mediana, desvio padrão e variância.

### 3.1 - Médias

In [170]:
import pandas as pd

caminho = './'
nome_arquivo = 'paises_america_latina.csv'

paises_america_latina = pd.read_csv(caminho + nome_arquivo, sep = ';', decimal = ',')

def filtrar_ocorrencias_de_um_termo_em_coluna(dataframe, nome_coluna: str, termo_pesquisado: str):
    return dataframe[dataframe[nome_coluna].str.contains(termo_pesquisado)]

def deletando_colunas_dataframe(dataframe, nome_coluna: list[str]):
    return dataframe.drop(nome_coluna, axis = 1).reset_index(drop = True)

nome_coluna = 'Indicator Name'
filtro_buscado = 'GDP \(Current USD\)'

# filtrando apenas o indicador de gdp dos paises latino-americanos
paises_america_latina  = filtrar_ocorrencias_de_um_termo_em_coluna(paises_america_latina, nome_coluna, filtro_buscado)

# deletando colunas Indicator Name e indicator code
paises_america_latina = deletando_colunas_dataframe(paises_america_latina, ['Indicator Code', 'Indicator Name'])

# separando linhas onde há colunas com valores nulos
colunas_na = paises_america_latina[paises_america_latina.isna().any(axis = 1)].loc[:, paises_america_latina.isna().any(axis = 0)]

print("Linhas onde haviam valores nulos: ")
display(colunas_na)

# apago colunas onde há um 
paises_america_latina.dropna(axis = 1, inplace = True)

# separando sigla dos países
sigla = paises_america_latina['Country Code']
anos = deletando_colunas_dataframe(paises_america_latina, ['Country Code'])

mean = paises_america_latina.mean(axis = 1)
min = paises_america_latina.min(axis = 1)
max = paises_america_latina.max(axis = 1)
median = paises_america_latina.median(axis = 1)
std = paises_america_latina.std(axis = 1)
var = paises_america_latina.var(axis = 1)

resultado = pd.DataFrame({'País': sigla, 'Média': mean, 'Mínimo': min, 'Máximo': max, 'Mediana': median, 'Desvio Padrão': std, 'Variância': var})

display(resultado)

Linhas onde haviam valores nulos:

   1960  1961          1962          1963          1964
0   NaN   NaN  2.445060e+10  1.827212e+10  2.560525e+10
7   NaN   NaN           NaN           NaN           NaN

C:\Users\aliss\AppData\Local\Temp\ipykernel_18128\4281659955.py:36: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean = paises_america_latina.mean(axis = 1)
C:\Users\aliss\AppData\Local\Temp\ipykernel_18128\4281659955.py:37: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  min = paises_america_latina.min(axis = 1)
C:\Users\aliss\AppData\Local\Temp\ipykernel_18128\4281659955.py:38: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  max = paises_america_latina.max(axis = 1)
C:\Users\aliss\AppData\Local\Temp\ipykernel_18128\4281659955.py:39: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  median = paises_america_latina.median(axis = 1)
C:\Users\aliss\AppData\Local\Temp\ipykernel_18128\4281659955.py:40: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std = paises_america_latina.std(axis = 1)
C:\Users\aliss\AppData\Local\Temp\ipykernel_18128\4281659955.py:41: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  var = paises_america_latina.var(axis = 1)

,País,Média,Mínimo,Máximo,Mediana,Desvio Padrão,Variância
0,ARG,1.806139e+11,2.425667e+10,6.098890e+11,1.111060e+11,1.555943e+11,2.420959e+22
1,BOL,7.261491e+09,9.088745e+08,3.060116e+10,5.594118e+09,6.688133e+09,4.473112e+19
2,BRA,5.897312e+11,2.179004e+10,2.476690e+12,3.905670e+11,6.424352e+11,4.127230e+23
3,CHL,6.554564e+10,6.053790e+09,2.771990e+11,3.155893e+10,7.336615e+10,5.382592e+21
4,COL,8.506932e+10,5.452763e+09,3.784150e+11,3.954008e+10,9.750158e+10,9.506558e+21
5,ECU,2.460519e+10,2.387048e+09,9.447268e+10,1.788151e+10,2.279550e+10,5.196348e+20
6,GUY,7.704960e+08,2.132353e+08,2.990129e+09,5.046511e+08,7.014274e+08,4.920003e+17
7,PRY,7.008058e+09,4.001297e+08,2.900941e+10,5.237433e+09,6.786761e+09,4.606012e+19
8,PER,4.648205e+10,5.026100e+09,2.023500e+11,2.190294e+10,4.964827e+10,2.464951e+21
9,SUR,1.230886e+09,1.386500e+08,5.298788e+09,8.606309e+08,1.335908e+09,1.784649e+18
10,URY,1.423577e+10,1.593701e+09,5.570794e+10,1.016302e+10,1.312113e+10,1.721640e+20
11,VEN,1.005677e+11,9.602945e+09,4.382840e+11,5.847036e+10,1.091617e+11,1.191627e+22